In [1]:
import pandas as pd

In [2]:
#Cargar datos 1
empleados=pd.read_csv('data/Employee_Salaries.csv')

In [3]:
#Exploracion inicial 2
empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       10291 non-null  object
 1   Department_Name  10291 non-null  object
 2   Division         10291 non-null  object
 3   Gender           10291 non-null  object
 4   Base_Salary      10291 non-null  float64
 5   Overtime_Pay     10291 non-null  float64
 6   Longevity_Pay    10291 non-null  float64
 7   Grade            10258 non-null  object
dtypes: float64(3), object(5)
memory usage: 643.3+ KB

In [4]:
print(f'el dataframe tiene {len(empleados)}registros y tiene las siguientes columnas {empleados.columns}')

el dataframe tiene 10291registros y tiene las siguientes columnas Index(['Department', 'Department_Name', 'Division', 'Gender', 'Base_Salary',
       'Overtime_Pay', 'Longevity_Pay', 'Grade'],
      dtype='object')

In [5]:
#Mostrar los Â´primeros registros
empleados.head(3)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.00,0.0,0.0,M2
1,ABS,Alcohol Beverage Services,ABS 85 Administration,M,145613.36,0.0,0.0,M3
2,ABS,Alcohol Beverage Services,ABS 85 Administration,F,136970.00,0.0,0.0,M3

In [6]:
empleados.sample(3)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
3250,DOT,Department of Transportation,DOT 50 Transportation Management,M,89948.0,41226.70,4260.33,19
4439,FRS,Fire and Rescue Services,FRS 45 Station 2,M,76101.0,44942.41,0.00,F3
3543,DPS,Department of Permitting Services,DPS 75 Zoning and Site Plan Compliance,F,117424.0,0.00,5013.30,N25

In [7]:
#Comprobar si har valores nulos o faltantes
empleados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       10291 non-null  object
 1   Department_Name  10291 non-null  object
 2   Division         10291 non-null  object
 3   Gender           10291 non-null  object
 4   Base_Salary      10291 non-null  float64
 5   Overtime_Pay     10291 non-null  float64
 6   Longevity_Pay    10291 non-null  float64
 7   Grade            10258 non-null  object
dtypes: float64(3), object(5)
memory usage: 643.3+ KB

In [8]:
print(empleados.isnull().sum())

Department          0
Department_Name     0
Division            0
Gender              0
Base_Salary         0
Overtime_Pay        0
Longevity_Pay       0
Grade              33
dtype: int64

In [11]:
#Transformacion de datos 3
empleados['salario_mensual']=empleados['Base_Salary']/12

In [13]:
empleados.sample(3)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade,salario_mensual
7525,LIB,Department of Public Libraries,LIB 71 Twinbrook Library,F,84500.0,0.00,0.00,24,7041.666667
8771,POL,Department of Police,POL 47 ISB Major Crimes Division Homicide and ...,M,124833.0,33207.04,13310.70,A1,10402.750000
1852,DGS,Department of General Services,DGS 36 Fleet Management Fleet Services,M,89948.0,9602.31,4260.33,19,7495.666667

In [22]:
#Calcular el promedio de salario por departamento.
empleados["Salario_Mensual"] = empleados["Base_Salary"] / 12
promedio_salario = empleados.groupby("Department_Name")["Salario_Mensual"].mean()

In [23]:
empleados.sample(3)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade,salario_mensual,Salario_Anual,Salario_Mensual
7529,LIB,Department of Public Libraries,LIB 71 Wheaton Library,M,112267.0,0.00,0.00,24,9355.583333,779.631944,9355.583333
9314,POL,Department of Police,POL 47 PSB 2nd District Station,F,89948.0,3718.98,3831.13,N19,7495.666667,624.638889,7495.666667
7812,OMB,Office of Management and Budget,OMB 31 Office of Management and Budget,F,147354.0,0.00,0.00,N30,12279.500000,1023.291667,12279.500000

In [24]:
promedio_salario

Department_Name
Alcohol Beverage Services                                      5404.434987
Board of Appeals Department                                    8706.877244
Board of Elections                                             7126.428071
Community Engagement Cluster                                   6480.344856
Community Use of Public Facilities                             7625.927152
Correction and Rehabilitation                                  7080.015017
County Attorney's Office                                      10806.739197
County Council                                                 8812.880424
Department of Environmental Protection                         8720.372235
Department of Finance                                          9594.153443
Department of General Services                                 7668.492105
Department of Health and Human Services                        7422.027654
Department of Housing and Community Affairs                    8708.815398
Department of Permitting Services                              8694.258714
Department of Police                                           7589.239663
Department of Public Libraries                                 5369.049808
Department of Recreation                                       7002.318728
Department of Technology and Enterprise Business Solutions    11036.767610
Department of Transportation                                   6811.711888
Ethics Commission                                             11782.368750
Fire and Rescue Services                                       8007.656340
Merit System Protection Board Department                       7742.237246
Non-Departmental Account                                      11737.532059
Office of Agriculture                                          8384.347672
Office of Animal Services                                      6376.134613
Office of Consumer Protection                                  8900.287743
Office of Emergency Management and Homeland Security           9259.609603
Office of Food Systems Resilience                              9398.138889
Office of Grants Management                                    8716.603000
Office of Human Resources                                      9151.357365
Office of Human Rights                                         9015.183677
Office of Intergovernmental Relations Department              13766.395833
Office of Labor Relations                                     11539.802292
Office of Legislative Oversight                               11134.665224
Office of Management and Budget                               10680.399643
Office of Procurement                                          8609.478678
Office of Public Information                                   7388.630391
Office of Racial Equity and Social Justice                    10175.147764
Office of Zoning and Administrative Hearings                  11991.707560
Office of the Inspector General                               10553.158141
Offices of the County Executive                               10659.977880
Sheriff's Office                                               7491.022187
Name: Salario_Mensual, dtype: float64

In [26]:
#Filtrar los empleados que ganan mÃ¡s de $10 000 mensual.
empleados_10000_mensual = empleados[empleados["Base_Salary"] > 10000]